 
  
<!-- <h1>Sign In</h1> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/ligin-page.css">
<!-- <%= assetPath('css/login-page.css')%> -->
<div id="login-form-wrap"> 
<form action="/users/create-session" method="post" id="login-form">
   <p>  <input type="email" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i></p>
 <p> <input type="password" name="password" placeholder="password" required><i class="validation"><span></span><span></span></i> </p>
 <p> <input type="submit" value="sign In"></p>
</form>
<p>
    <a href="/users/auth/google">Google sign In/Sign Up</a>
</p>
</div>