#layout-footer {
  position: fixed;
  bottom: 0%;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    padding: 5px 10px;
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    display: flex;
    list-style: none; }
